/* VARIABLES */
$color-background: rgb(228, 228, 255);
$type-base: "Rubik", Helvetica, Arial, sans-serif;
$type-heading: "Playfair Display",Georgia, serif;
$type-linewidth: 38em;
$type-color-body: #888;
$type-color-headings: rgba(87, 68, 92, 1);
$type-color-lightgrey: rgba(0, 0, 0, .2);

// COLORS
$link-color: rgb(255, 210, 210);
$link-color-dark: rgb(168, 52, 52);
$accent-color: #640000; 
$hero-bg-color:  rgba(255, 210, 210, 0.479);
 
// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1250px;

@import "partials/toc";
@import "partials/typography";
@import "partials/components";
@import "partials/media"; 
@import "partials/layout";
@import "partials/structure"; 